/* App.css */
body {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: green;
}

input[type="file"] {
  border: none;
  outline: none;
  background-color: black;
  color: green;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 5px;
}

input[type="file"]:hover {
  border-color: darkgreen;
}

.image-container {
  margin-top: 20px;
}

img {
  width: 100%;
  max-width: 500px;
  border: 2px solid green;
  border-radius: 5px;
}


/* App.css */
.dicom-image {
  width: 80%;
  height: 500px;
  border: 1px solid #ccc;
}
